<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MechMate"
        tools:targetApi="31">
        <activity
            android:name=".mecHomePagePopup"
            android:exported="false" />
        <activity
            android:name=".mechanicMapActivity"
            android:exported="false" />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key_new" />

        <activity
            android:name=".userMapActivity"
            android:exported="false"
            android:label="@string/title_activity_user_map" />
        <activity
            android:name=".MechanicHomePage"
            android:exported="false" />
        <activity
            android:name=".book_a_slot"
            android:exported="false" />
        <activity
            android:name=".BuyAccessories"
            android:exported="false">
        </activity>
        <activity
            android:name=".FindMechanic"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".popup2"
            android:exported="false" />
        <activity
            android:name=".popup1"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.MechMate.NoActionBar" />
        <activity
            android:name=".MechanicRegistration"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".OTP2"
            android:exported="false"
            android:parentActivityName=".OTP1" />
        <activity
            android:name=".OTP1"
            android:exported="false"
            android:parentActivityName=".Starting_Page" />
        <activity
            android:name=".Starting_Page"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>